@layout.mail()
<h2 style="margin-bottom: calc(3 * var(--spacing));">Your password was changed</h2>

<div
    style="display: flex; flex-direction: column; gap: calc(1 * var(--spacing)); margin-bottom: calc(3 * var(--spacing));">
    <p>Hi there, {{ client.name ?? client.username }}!</p>
    <p>This email confirms that your password was successfully changed on {{ date }} at {{ time }}</p>
</div>

<h6 style="margin-bottom: calc(1 * var(--spacing));">Did not do it?</h6>
<p style="margin-bottom: calc(3 * var(--spacing));">If you did not make this change, your account may have been
    compromised. Please click the button below to
    sign out all of the sessions and reset the password</p>

<a href="{{ url }}" class="button">Verify Email Address</a>
@end