[data-scope="button"] {
    --height: 40px;
    --padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    --color: var(--color-primary);
    --width: auto;
    --color-disabled: oklch(from var(--color) l c h / 0.5);

    &[data-part="root"] {
        height: var(--height);
        width: var(--width);
        padding: var(--padding);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: var(--radius-default);

        &:focus-visible {
            outline: none;
        }

        &:disabled {
            cursor: not-allowed;
            color: oklch(from var(--color) l c h / 0.5);
        }

        &[data-variant="outline"] {
            color: var(--color);
            border: 2px solid oklch(from var(--color) l c h / 0.4);

            &:not(:disabled):is(:hover, :focus-visible) {
                background: var(--color);
                color: var(--color-white);
            }

            &:disabled {
                border-color: var(--color-disabled);
            }
        }

        &[data-variant="filled"] {
            background: var(--color);
            color: var(--color-white);

            &:disabled {
                background: var(--color-disabled);
            }
        }
    }
}
